body {
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #c1ccee;
  }
  
  .container {
    background-color: rgb(159, 179, 246);
    box-shadow: 10px 20px 15px rgba(11, 19, 38, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
    color: rgb(227, 221, 254);
  }
  
  h1 {
    font-size: 38px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 22px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #c1ccee;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
  }
  input:focus{
    outline: none;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
    transform: scale(0.95);
    border-radius: 10px;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  